*{
    margin: 0;
    padding: 0;
}
.navber{
    background-color: black;
}
.navber ul{
    display: flex;
    text-align: center;
    justify-content: center;
}
.navber ul li{
    margin-left: 50px;
    padding: 10px 0;
    font-size: 20px;
    
}